# Xcode
build/
DerivedData/
build_dd/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
xcuserdata/
*.moved-aside
*.ipa
*.app

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Data and large audio files
/data/
*.mp3


.build/
.agents